.popup {
    font-family: inherit;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    &-logo {
        width: 100%;
        text-align: center;
        padding: 4rem;
        @include respond(phone) {
            padding: 2.5rem;
        }
        &__img {
            height: 4rem;
        }
    }
    &-login {
        width: 50%;
        transform: translateX(50%);
        &__name {
            text-transform: uppercase;
        }
    }
    &-login__reg {
        &--here {
            color: $color-primarily-light;
            &:hover {
                color: $color-primarily-dark;
            }
        }
    }
    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        border-radius: 3rem;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
    }
    &-group {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
            @include respond(phone) {
                margin-bottom: .5rem;
            }
        }
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition: all .4s .3s;
    }
    &__close {
        &:link,
        &:visited {
            color: $color-black;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
        }
        &:hover {
            color: $color-primarily-dark;
        }
    }
    &__input {
        font-size: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        color: inherit;
        border-radius: .2rem;
        display: block;
        border: none;
        border-bottom: 1px solid $color-black;
        background-color: $color-white;
        width: 100%;
        @include respond(phone) {
            padding: .9rem 1rem;
        }
        &:focus {
            outline: none;
            box-shadow: 0 .8rem 3rem rgba($color-black, .15);
            border-bottom: 3px solid $color-primarily-dark;
            &:invalid {
                border-bottom: 3px solid $color-primarily-dark;
            }
        }
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(4rem);
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
}